.userList-ul {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
}

.userList-li li {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 40px;
}

.poster-fav img {
    height: 200px;
}

.title-fav {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.btn-user-movies {
    display: flex;
    flex-flow: column;
    justify-content: center;
}