:root {
    --verde:  #21c470;
    --fondo: #141414;
    --blanco: #ffffff;
    --gris1: #edf2f6;
    --gris2: #2f3848;
    --gris3: #1a202d;
    --negro: #000000; 
}

.mainDetails {
    background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgb(0, 0, 0, .50) 100%), url(../../img/backgrounds/cinema-scaled.jpg);
    background-position: center center;
    background-size:cover;
    display: flex;
    justify-content: center;
}

.containerDetails {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 500px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.imgDetails {
    width: 370px;
    padding-top: 20px;
    margin-bottom: 20px; 
}

.details h2 {
    color: var(--verde);
    text-align: justify;
    font-size: medium;
    font-weight: bold;
}

.overview p {
    text-align:start;
    padding-right: 30px;
}

.movieDates span {
    text-align: center;
}

.details p {
    color: var(--blanco);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: small;
    margin-bottom: 5px;
}

.details span:first-child {
    color: var(--verde);
}

.details span:last-child {
    color: var(--blanco);
}

.movieDates p {
    text-align: start;
}

.movieDates {
    text-align: start;
}

.video-details {
    margin-top: 30px;
}

.video-details iframe {
    height: 230px;
    width: 380px;
    max-width: 500px;
}

.linkDetails {
    display: flex;
    flex-flow: row wrap;
    text-align: start;
}

.linkDetails p:first-child {
    margin-bottom: 20px;
}

.linkDetails p:last-child {
    margin-left: 40px;
}

@media screen and (max-width:800px) {
    .containerDetails {
        width: 360px;
    }

    .imgDetails {
        width: 350px;
    }
}