.modal-container {
   display: flex;
   /* flex-flow: column; */
   align-items: center;
   justify-content: center; 
}

.home-margin {
    margin-top: 20px;
}

.div-searcher input {
    font-size:xx-small;
    font-weight: bold;
}

.carouselDisplayNone{
    display: none;
}

.movie-container-display-none {
    display: none;
}