:root {
    --verde:  #21c470;
    --fondo: #141414;
}

/* CHAT */

.wrapper-chat {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.title-chat {
   max-width: 800px;
   text-align: center;
}

.container-chat {
    width: 800px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 260px;
    background: url(../../img/backgrounds/futuristic-background-with-green-letters.jpg);
    background-position: center;
    background-size: cover;
}



/* CHANNEL */

.form.channel {
    display: flex;
    flex-flow: row nowrap;
}

.channel-ul {
    background-color: rgb(20, 20, 20, 0.9);
}

.input-channel {
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 40px;
}

/* MESSAGE */

.container-message {
    margin: 10px 10px 10px 10px;
    border: solid 1px var(--verde);
}

.wrap-data {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: flex-end;
    margin-top: 10px;
}

.name {
    margin-bottom: 0;
    margin-right: 10px;
    color: var(--verde);
    font-family: 'Roboto', sans-serif;
}

.date {
    color: var(--verde);
    font-size: x-small;
    margin-bottom: 3px;
}

.wrap-message {
    margin-top: 20px;
}

.message-text {
    color: #fff;
    font-family: 'Railway';
}

/* MEDIA QUERY */

@media screen and (max-width:600px) {
    .container-chat {
        max-width: 500px;
    }

    .title-chat {
        max-width: 500px;
    }
}