#carouselHeaderControls {
    height: 70vh;
  }
  
  #carousel {
      margin-left: 30px;
      margin-right: 30px;
  }
  
  .carouselDisplayNone {
      display: none;
  }
  
  .lateralScrollDisplayNone {
      display: none;
  }
  
  .carousel .carousel-item {
    background-repeat: no-repeat;
  }
  
  .carousel .carousel-item:nth-child(1) {
    background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgb(0, 0, 0, .50) 100%), url(../../img/bigCarousel/ran.jpg);
    background-position: center center;
    background-size: cover;
  }
  
  .carousel .carousel-item:nth-child(2) {
    background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgb(0, 0, 0, .50) 100%), url(../../img/bigCarousel/grushenko.jpg);
    background-position: center center;
    background-size: cover;
  }
  
  .carousel .carousel-item:nth-child(3) {
    background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgb(0, 0, 0, .50) 100%), url(../../img/bigCarousel/joaquin.jpg);
    background-position: center center;
    background-size: cover;
  }
  
  .carousel .carousel-item:nth-child(4) {
    background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgb(0, 0, 0, .50) 100%), url(../../img/bigCarousel/apu.jpg);
    background-position: center center;
    background-size: cover;
  }
  
  .carousel .carousel-item:nth-child(5) {
    background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgb(0, 0, 0, .50) 100%), url(../../img/bigCarousel/carretera.jpg);
    background-position: center center;
    background-size: cover;
  }
  
  .carousel .carousel-item:nth-child(6) {
    background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgb(0, 0, 0, .50) 100%), url(../../img/bigCarousel/alexanderplatz.jpg);
    background-position: center center;
    background-size: cover;
  }
  
  .carousel .carousel-item:nth-child(7) {
    background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgb(0, 0, 0, .50) 100%), url(../../img/bigCarousel/berlin.jpg);
    background-position: center center;
    background-size: cover;
  }
  
  .carousel .carousel-item:nth-child(8) {
    background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgb(0, 0, 0, .50) 100%), url(../../img/bigCarousel/chinoise.jpg);
    background-position: center center;
    background-size: cover;
  }
  
  .carousel .carousel-item:nth-child(9) {
    background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgb(0, 0, 0, .50) 100%), url(../../img/bigCarousel/cold.jpg);
    background-position: center center;
    background-size: cover;
  }
  
  .carousel .carousel-item:nth-child(10) {
      background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgb(0, 0, 0, .50) 100%), url(../../img/bigCarousel/odisea.jpg);
      background-position: center center;
      background-size: cover;
  }
  
  .carousel .carousel-item:nth-child(11) {
      background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgb(0, 0, 0, .50) 100%), url(../../img/bigCarousel/felini.jpg);
      background-position: center center;
      background-size: cover;
  }
  
  .carousel .carousel-item:nth-child(12) {
      background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgb(0, 0, 0, .50) 100%), url(../../img/bigCarousel/easy.jpg);
      background-position: center center;
      background-size: cover;
  }
  
  .carousel .carousel-item:nth-child(13) {
      background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgb(0, 0, 0, .50) 100%), url(../../img/bigCarousel/hiroshima.jpg);
      background-position: center center;
      background-size: cover;
  }
  
  .carousel .carousel-item:nth-child(14) {
      background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgb(0, 0, 0, .50) 100%), url(../../img/bigCarousel/lazaro.jpg);
      background-position: center center;
      background-size: cover;
  }
  
  .carousel .carousel-item:nth-child(15) {
      background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgb(0, 0, 0, .50) 100%), url(../../img/bigCarousel/scarface.jpg);
      background-position: center center;
      background-size: cover;
  }
  
  .carousel .carousel-item:nth-child(16) {
      background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgb(0, 0, 0, .50) 100%), url(../../img/bigCarousel/lebowski.jpg);
      background-position: center center;
      background-size: cover;
  }
  
  .carousel .carousel-item:nth-child(17) {
      background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgb(0, 0, 0, .50) 100%), url(../../img/bigCarousel/oldboy.jpg);
      background-position: center center;
      background-size: cover;
  }
  
  .carousel .carousel-item:nth-child(18) {
      background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgb(0, 0, 0, .50) 100%), url(../../img/bigCarousel/metropolis.jpg);
      background-position: center center;
      background-size: cover;
  }
  
  .carousel .carousel-item:nth-child(19) {
      background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgb(0, 0, 0, .50) 100%), url(../../img/bigCarousel/malcovich.jpg);
      background-position: center center;
      background-size: cover;
  }
  
  .carousel .carousel-item:nth-child(20) {
      background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgb(0, 0, 0, .50) 100%), url(../../img/bigCarousel/memento.jpg);
      background-position: center center;
      background-size: cover;
  }
  
  .carousel .carousel-item:nth-child(21) {
      background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgb(0, 0, 0, .50) 100%), url(../../img/bigCarousel/monty.jpg);
      background-position: center center;
      background-size: cover;
  }
  
  .carousel .carousel-item:nth-child(22) {
      background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgb(0, 0, 0, .50) 100%), url(../../img/bigCarousel/waking.jpg);
      background-position: center center;
      background-size: cover;
  }
  
  .carousel .carousel-item:nth-child(23) {
      background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgb(0, 0, 0, .50) 100%), url(../../img/bigCarousel/pulp.jpg);
      background-position: center center;
      background-size: cover;
  }
  
  .carousel .carousel-item:nth-child(24) {
      background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgb(0, 0, 0, .50) 100%), url(../../img/bigCarousel/sello.jpg);
      background-position: center center;
      background-size: cover;
  }
  
  .carousel .carousel-item:nth-child(25) {
      background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgb(0, 0, 0, .50) 100%), url(../../img/bigCarousel/solaris.jpg);
      background-position: center center;
      background-size: cover;
  }
  
  .carousel .carousel-item:nth-child(26) {
      background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgb(0, 0, 0, .50) 100%), url(../../img/bigCarousel/vertigo.jpg);
      background-position: center center;
      background-size: cover;
  }
  
  .carousel .carousel-item:nth-child(27) {
      background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgb(0, 0, 0, .50) 100%), url(../../img/bigCarousel/trier.jpg);
      background-position: center center;
      background-size: cover;
  }
  
  .carousel .carousel-item:nth-child(28) {
      background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgb(0, 0, 0, .50) 100%), url(../../img/bigCarousel/synecdoche.jpg);
      background-position: center center;
      background-size: cover;
  }

  @media screen and (max-width:800px) {
    #carousel {
        margin: 0;
    }
  }