/* body {
    background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgb(0, 0, 0, .50) 100%), url(../fondos/shining.jpg);;

} */

.container {
    width: 100%;
}

.h1 {
    font-family: 'Bebas Neue', sans-serif;
    color: whitesmoke;
}

.wrap {
    display:inline-block;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    align-items: center;
    align-self: center;
    align-content: center;
    text-align: center;
}


.movie_list_title {
    color: whitesmoke;
    font-weight: bolder;
    margin-top: 5px;
}

.movie_list_date {
    color: whitesmoke;
    font-weight:lighter;
    font-size: small;
}

.movie_overview {
    color: whitesmoke;
    font-weight: lighter;
    padding-left:30px;
    padding-right:30px;
}

.clickable {
    cursor:pointer;
}