:root {
    --verde:  #21c470;
    --fondo: #141414;
    --blanco: #ffffff;
    --gris1: #edf2f6;
    --gris2: #2f3848;
    --gris3: #1a202d;
    --negro: #000000; 
}

.mainDetails {
    background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgb(0, 0, 0, .50) 100%), url(../../img/backgrounds/cinema-scaled.jpg);
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.containerDetails {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 500px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.imgDetails {
    width: 470px;
    padding-top: 20px;
    margin-bottom: 30px; 
    /* float: left; */
}

.details h2 {
    color: var(--verde);
    text-align: justify;
}

.overview p {
    text-align:start;
    padding-right: 30px;
    font-size: large;
}

.movieDates span {
    text-align: center;
}

.details p {
    color: var(--blanco);
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: large;
}

.details span:first-child {
    color: var(--verde);
}

.details span:last-child {
    color: var(--blanco);
}

.movieDates p {
    text-align: start;
}

.linkDetails {
    display: flex;
    flex-flow: row wrap;
    text-align: start;
}

/* .linkDetails p {
    display: inline;
} */

.linkDetails p:last-child {
    margin-left: 40px;
}

.detailsStars {
    display: flex;
    justify-content:left;
}

.ec-stars-wrapper {
    font-size: 0;
    display: inline-block;
}

.ec-stars-wrapper a {
	text-decoration: none;
	display: inline-block;
	/* Volver a dar tamaño al texto */
	font-size: 32px;
	font-size: 2rem;
	
	color: #888;
}

.ec-stars-wrapper:hover a {
	color: var(--verde);
}
/*
 * El selector de hijo, es necesario para aumentar la especifidad
 */
.ec-stars-wrapper > a:hover ~ a {
	color: #888;
}

#textareaComent {
    border-radius: 1rem;
    background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgb(0, 0, 0, .50) 100%);
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: large;
    font-weight: bold;
    padding: 15px 15px 15px 15px;
}