:root {
    --verde:  #21c470;
    --fondo: #141414;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: var(--fondo);
    font-family: 'Roboto', sans-serif;
}

#titleSpan {
    color:  #fff;
}

#navSelect {
    font-family: "Railway";
    border: transparent;
    font-weight: bold;
    font-size: x-small;
    text-decoration: transparent;
    background-color: black;
    color: var(--verde);
}

.drop {
  font-family: "Railway";
  font-weight: bold;
  font-size: x-small;
  text-decoration: transparent;
  background-color: black;
  color: var(--verde);
  border: var(--verde) solid 1px;
  border-radius: 1em;
}

option {
  text-decoration: transparent;
  border: transparent;
  border-radius: 1em;
}

.Container {
    width: 90%;
    margin: auto;
    max-width: 2500;
}

.Container a {
  margin-top: 0;
}

header {
    background: #000;
}

#headerTitle {
  margin-bottom: 0;
}
header .Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-family: 'Cookie', cursive;
    font-weight: lighter;
    color: var(--verde);
    font-size: small;
    text-decoration: none;
}

header .logo:hover {
    transform: scale(1.2);
    transform-origin: center;
}

header .logo a {
  margin-bottom: 0;
  margin-top: 0;
}

.signHeader {
    display: inline;
}

.signHeader span {
    color: var(--blanco);
    font-size: small;
    font-family: "Roboto", sans-serif;
    font-weight:lighter;
}

.headerSignin, .headerSignup,
.headerSignin:hover, .headerSignup:hover  {
    text-decoration: none;
}

.headerSignin p {
    margin-right: 10px;
    display: inline;
    color: var(--verde);
    font-family: "Roboto", sans-serif;
    font-size: x-small;
    font-weight: bold;
}

.headerSignin p:hover {
    text-decoration: none;
    color: var(--verde);
}

.headerSignup p {
    margin-left: 10px;
    display: inline;
    text-decoration: none;
    color: var(--verde);
    font-family: "Roboto", sans-serif;
    font-size: x-small;
    font-weight: bold;
}

.headerSignup p:hover {
    text-decoration: none;
    color: var(--verde);
}

.wrapChatHeader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chatHeader, .chatHeader:hover {
  font-family: "Roboto", sans-serif;
  font-size: x-small;
  font-weight:bold;
  text-decoration: none;
  color: var(--verde);
}

.chatHeader p {
  display: inline;
}

.userAccount img {
    color: wheat;
    border-radius: 90px;
}

.userAccount {
  display: flex;
  flex-flow: column wrap;
}

.userAccount span {
  color: #fff;
  font-weight: normal;
}

 @media screen and (min-width:1100px) {
    .Container{
        width: 96%;
    }
}     

@media screen and (max-width:600px) {
    header .logo {
        margin-top: 0px;
        font-size: 30px;
    }

    header .Container {
        flex-direction: column;
        text-align: center;
    }

    nav {
        margin: 10px 0 10px 0;
    }

    .principal-movie {
        font-size: 14px;
    }

    .principal-movie .description {
        max-width: 100%;
    }

    .recomended-movies .container-carousel {
        overflow: visible;
    }

    .recomended-movies .container-carousel .carousel {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .recomended-movies .indicators,
    .recomended-movies .left-arrow,
    .recomended-movies .right-arrow {
        display: none;
    }

    .headerAccount {
      margin-bottom: 5px;
    }

    .chatHeader {
      font-size: x-small;
      margin-bottom: 10px;
    }
}