:root {
    --verde:  #21c470;
    --fondo: #141414;
    --blanco: #ffffff;
    --gris1: #edf2f6;
    --gris2: #2f3848;
    --gris3: #1a202d;
    --negro: #000000; 
}


.container {
    padding: 20px 30px 20px 30px;
}

.details h2 {
    color: var(--verde)
}

.overview p {
    text-align: center;
}

.movieDates span {
    text-align: center;
}

.details p {
    color: var(--blanco);
}

.details span:first-child {
    color: var(--verde);
}

.details span:last-child {
    color: var(--blanco);
}

