:root {
    --verde:  #21c470;
    --fondo: #141414;
}

.container {
    margin-top: 10px;
    min-height: 100vh;
}

.error-body {
    background-image: url(../../img/backgrounds/naranja_mecanica.jpg);
    background-position: center;
    background-size: cover;
    margin-top: 80px;
}

.errorChat-body {
    background-image: url(../../img/backgrounds/Backtothefuture.jpg);
    background-position: center;
    background-size: cover;
    margin-top: 80px;
}

.title {
    text-decoration: none;
    border: none;
    color: #fff;
}

.title { 
	position: relative; 
	float: left;
	background: var(--fondo);
	font-size: 2.5em;
}

.title span {
    position:absolute;
    right:0;
    width:0;
    background: var(--fondo);
    border-left: 3px solid var(--verde);
    animation: escribir 5s steps(30) infinite alternate;
}

@keyframes escribir {
    from { width: 100% }
    to { width:0 }
}

.error-body img, .errorChat-body img {
    min-height: 350px;
}

.user-text {
    margin-top: 50px;
    margin-bottom: 50px;
}

h5 a  {
    text-decoration: none;
    color: var(--verde);
    opacity: .7;
}

h5 a:hover {
    text-decoration: none;
    color: var(--verde);
    opacity: 1;
}